:root{
    --violet-doux : #6C63FF;
    --violet-fonce : #534E00;
    --orange-vif: #FFA726;
    --gris-fonce : #333;
    --gris-tres-clair : #f8f8f8;
    --gris-clair : #EEE;
}

h1{
    color: var(--violet-fonce);
}